<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script src="../js/jquery.min.js"></script>
    <script src="../highcharts/code/highcharts.js"></script>

</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>
    $(function(){
        $.ajax({
            url:"../demo/queryDemo2",
            type:"post",
            dataType:"json",
            success:function (data) {
                Highcharts.chart('container', {
                    title: {
                        text: '各周书籍数量'
                    },
                    xAxis: {
                        categories: data.name,
                        crosshair: true
                    },
                    yAxis: {
                        title: {
                            text: '总个数'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [{
                        name: '总个数',
                        data: data
                    }]
                });
            },error:function () {
                alert("后台有误！")
            }
        })
    })

</script>
</body>
</html>