<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../highcharts/code/highcharts.js"></script>
    <script src="../js/jquery.min.js"></script>

</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</body>
<SCRIPT>

    $(function(){
        $.ajax({
            url:"../demo/queryDemo3",
            type:"post",
            dataType:"json",
            success:function (data) {
                var chart = Highcharts.chart('container', {
                    chart: {
                        type: 'areaspline'
                    },
                    title: {
                        text: '不同家庭一周水果消费情况'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 150,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    xAxis: {
                        categories: [
                            '周一','周二','周三','周四','周五','周六','周日'
                        ],
                        plotBands: [{ // 标识出周末
                            from: 4.5,
                            to: 6.5,
                            color: 'rgba(68, 170, 213, .2)'
                        }]
                    },
                    yAxis: {
                        title: {
                            text: '水果 单位'
                        }
                    },
                    tooltip: {
                        shared: true,
                        valueSuffix: ' 单位'
                    },
                    plotOptions: {
                        areaspline: {
                            fillOpacity: 0.5
                        }
                    },
                    series: [{
                        name: '日期',
                        colorByPoint: true,
                        data: data
                    }]
                });
            },error:function () {
                alert("查询失败")
            }
        })
    })





</SCRIPT>
</html>