<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script src="../js/jquery.min.js"></script>
    <script src="../highcharts/code/highcharts.js"></script>

</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>
    $(function(){
        $.ajax({
            url:"../demo/queryDemo2",
            type:"post",
            dataType:"json",
            success:function (data) {
                var chart = null;
                $.getJSON('https://data.jianshukeji.com/jsonp?filename=json/range.json&callback=?', function (data) {
                    chart = Highcharts.chart('container', {
                        chart: {
                            type: 'arearange',
                            zoomType: 'x' // 水平缩放
                        },
                        title: {
                            text: '某地白天温度变化'
                        },
                        xAxis: {
                            type: 'datetime',
                            crosshair: true // 启用 x 轴准星线
                        },
                        yAxis: {
                            title: {
                                text: null
                            }
                        },
                        tooltip: {
                            shared: true,
                            valueSuffix: '°C'
                        },
                        legend: {
                            enabled: false // 关闭图例
                        },
                        series: [{
                            name: '月份',
                            data: data
                        }]
                    });
                });
            },error:function () {
                alert("后台有误！")
            }
        })
    })

</script>
</body>
</html>