<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="addFormId">
    <input type="hidden" name="sid">
    sname <input name="sname">
    simg<div id="show_file"></div>
    <img id="show_img" width="100" height="100"/>
    <input type="file" id="uploadImg" name="upFile"/>
    <input type="hidden" name='simg' size="100"/>
    steam<input name="steam">
    sversion<input name="sversion">

    sscore<input name="sscore">
    slanguage<input name="slanguage">
    sinfo<input name="sinfo">


</form>

</body>
</html>